* {
    margin: 0;
    padding: 0;
}

body { 
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}

h1, h2, h3 {
    text-transform: uppercase;
    text-align: center;
}

ul {
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-coloumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section {
    position: sticky;
    z-index: 999;
    background: maroon;
    color: white;
    width: 100%;
}

.gap-left {
    margin: 2%;
    align-items: left;
}

#header {
    top: 0;
}

#footer {
    bottom: 0;
}

.card {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.card > table, th, td {
    width: 100%;
    border: solid 1px black;
    margin-left: auto;
    margin-right: auto;
}

.card > th, td {
    width: 50%;
}

.card > td > img {
    object-fit: fill;
}

.add-input {
    width: 100%;
}

#add-tip {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#add-info {
    height: 50px;
}

@media (min-width: 1600px) or (min-height: 900px) {
    * {
        font-size: 16px;
    }
    .section {
        height: 160px;
    }
    .section-heading {
        font-size: 30px;
    }
    .filter-button {
        margin: 10px;
        padding: 5px;
    }
    #header-container {
        margin: 10px;
        gap: 10px;
    }
}

@media (max-width: 1600px) or (max-height: 900px) {
    * {
        font-size: 12px;
    }
    .section {
        height: 100px;
    }
    .section-heading {
        font-size: 20px;
    }
    .filter-button {
        margin: 5px;
        padding: 2px;
    }
    #header-container {
        margin: 5px;
        gap: 5px;
    }
}

@media (max-width: 1024px) or (max-height: 576px) {
    * {
        font-size: 5px;
    }
    .section {
        height: 40px;
    }
    .section-heading {
        font-size: 10px;
    }
    .filter-button {
        margin: 1px;
        padding: 0px;
    }
    #header-container {
        margin: 0px;
        gap: 1px;
    }
}

@media print {
    #header, #footer {
        display: none;
    }
}