* {
    margin: 0;
    padding: 0;
}

body { 
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

button {
    border: outset 1px;
}

main {
    flex: 1;
}

h1, h2, h3 {
    text-transform: uppercase;
    text-align: center;
}

form > label {
    display: inline-block;
    width: 7%;
    text-align: right;
}

ul {
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-coloumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section {
    position: sticky;
    z-index: 999;
    background: maroon;
    color: white;
    width: 100%;
}

.gap-left {
    margin: 2%;
    align-items: left;
}

#header {
    top: 0;
}

#footer {
    bottom: 0;
}

#footer > div > ul {
    background-color: maroon;
}

.card {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.card > table, th, td {
    width: 100%;
    border: solid 1px black;
    margin-left: auto;
    margin-right: auto;
}

.card > th, td {
    width: 50%;
}

.card > td > img {
    object-fit: fill;
}

form {
    border: solid 1px black; 
    padding: 2px;
    align-items: center;
}

.add-input {
    width: 90%;
}

#add-tip {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#add-info {
    justify-self: top;
    height: 50px;
}

#add-submit {
    width: 60%;
    margin-left: 20%;
}

@media (max-width: 768px) or (max-height: 432px) {
    * {
        font-size: 3px;
    }
    .section {
        height: 20px;
    }
    .section-heading {
        font-size: 5px;
    }
    .filter-button {
        margin: 1px;
        padding: 0px;
    }
    #header-container {
        margin: 0px;
        gap: 1px;
    }
}

@media (min-width: 768px) or (min-height: 432px) {
    * {
        font-size: 5px;
    }
    .section {
        height: 40px;
    }
    .section-heading {
        font-size: 10px;
    }
    .filter-button {
        margin: 1px;
        padding: 0px;
    }
    #header-container {
        margin: 0px;
        gap: 1px;
    }
}

@media (min-width: 1024px) or (min-height: 576px) {
    * {
        font-size: 8px;
    }
    .section {
        height: 60px;
    }
    .section-heading {
        font-size: 12px;
    }
    .filter-button {
        margin: 5px;
        padding: 2px;
    }
    #header-container {
        margin: 5px;
        gap: 2px;
    }
}

@media (min-width: 1440px) or (min-height: 810px) {
    * {
        font-size: 12px;
    }
    .section {
        height: 100px;
    }
    .section-heading {
        font-size: 20px;
    }
    .filter-button {
        margin: 8px;
        padding: 4px;
    }
    #header-container {
        margin: 8px;
        gap: 4px;
    }
}

@media (min-width: 1792px) or (min-height: 1008px) {
    * {
        font-size: 16px;
    }
    .section {
        height: 120px;
    }
    .section-heading {
        font-size: 30px;
    }
    .filter-button {
        margin: 10px;
        padding: 5px;
    }
    #header-container {
        margin: 10px;
        gap: 5px;
    }
}

@media (min-width: 2176px) or (min-height: 1152px) {
    * {
        font-size: 30px;
    }
    .section {
        height: 180px;
    }
    .section-heading {
        font-size: 50px;
    }
    .filter-button {
        margin: 10px;
        padding: 5px;
    }
    #header-container {
        margin: 10px;
        gap: 5px;
    }
}

@media print {
    #header, #footer, #add-tip {
        display: none;
    }
}